.rect-button {
  &.teal {
    cursor: pointer;
    padding: 10px;
    border: 2px solid $ella-teal;
    background-color: #FFFFFF;
    text-align: center;
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: $ella-teal;
    }
  }

  &.red {
    cursor: pointer;
    padding: 10px;
    border: 2px solid $ella-red;
    background-color: #FFFFFF;
    text-align: center;
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: $ella-red;
    }
  }

  &.blue {
    cursor: pointer;
    padding: 10px;
    border: 2px solid $ella-blue;
    background-color: #FFFFFF;
    text-align: center;
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: $ella-blue;
    }
  }

  &:hover {
    box-shadow: 4px 4px 4px grey;
    transition: .3s;
  }
}