@import "../colours.scss";

* {
  margin: 0;
  padding: 0
}

body {
  background-image: url("../images/ella-paper.jpg");
}

.ella {
  position: fixed !important;
  top: 50%;
  width: 20%;
  height: auto;
  margin-left: 20px;
  margin-top: -110px;
  animation: appear .3s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}