@import "../../colours.scss";

.home-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  .ella-red {
    width: 277px;
    height: auto;
    margin-left: 20px;
  }

}

