@font-face {
  font-family: 'otamendi';
  src: url('../fonts/otamendi-webfont.woff2') format('woff2'),
       url('../fonts/otamendi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}