@import './fonts.scss';

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;

  a {
    margin-left: 10px;
    margin-bottom: -2px;
  }
  p {
    margin-left: 10px;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  .email-icon {
    margin-bottom: -4px;
  }

  .phone-icon {
    margin-bottom: -2px;
  }

  #imdb {
    svg {
      width: 60px;
      height: auto;
    }
  }
}
