.about-section {
  position: relative;
  height: 100vh;

  
  @include respond-to(desktop) {
    width: calc(100vw - 21%);
    margin-left: 20%;
  }

  @include respond-until(tablet) {
    margin-left: 20px;
    width: 95%;
  }

  .about-content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #FFFFFF;
    right: 20px;
    bottom: 20px;
    width: 95%;
    height: 80%;
    box-shadow: 4px 4px 4px grey;

    .header {
      h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $ella-teal;
        font-family: 'otamendi';
        font-size: 80px;
        font-style: normal !important;
        font-weight: normal !important;
        span {
          margin-left: 15px
        }
        @include respond-until(tablet) {
          font-size: 50px;
        }
      }
    }

    .swiper {
      display: block;
      width: 80%;
      height: 80%;

      .swiper-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 80%;
        padding-bottom: 50px !important;

        .swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;

          .slide-body {
            font-size: 20px !important;
            font-family: "Montserrat", sans-serif !important;
            
            p {
              padding-bottom: 15px;
            }
            @include respond-until(tablet) {
              font-size: 15px !important;
              overflow-y: auto;
              overflow-x: auto;
              padding-top: 20px;
            }
          }

          em {
            font-size: 15px;
          }
          strong {
            font-size: 15px;
          }
          ul {
            list-style-type: disc !important;
            @include respond-until(tablet) {
              font-size: 15px !important;
            }
          }
          li {
            margin-bottom: 20px !important;
            font-size: 17px !important;
            list-style: disc !important;
            @include respond-until(tablet) {
              font-size: 15px !important;
            }
          }
          h3 {
            color: $ella-teal;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 30px;
            font-family: "Montserrat", sans-serif;

            @include respond-until(tablet) {
              font-size: 20px;
              text-align: center;
            }
          }
        }

        .swiper-button-prev {
          color: $ella-teal !important;
          border: 2px solid $ella-teal;
          padding: 20px !important;
          border-radius: 100%;
          left: 0px !important;
        }

        .swiper-button-next {
          color: $ella-teal !important;
          border: 2px solid $ella-teal;
          padding: 20px !important;
          border-radius: 100%;
          right: 0px !important;
        }

        .swiper-pagination-bullet-active {
          background-color: $ella-teal !important;
        }
      }
    }
  }
}