footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  padding: 20px;

  @include respond-until(tablet) {
    justify-content: center;
    height: 100px;
  }

  a {
    margin-left: 10px;
    margin-bottom: -2px;
  }

  p {
    margin-left: 10px;

    @include respond-until(tablet) {
      font-size: 17px;
    }
  }

  svg {
    height: 30px;
    width: 30px;
    @include respond-until(tablet) {
      height: 20px;
      width: 20px;
    }
  }

  .email-icon {
    margin-bottom: -4px;
    @include respond-until(tablet) {
      height: 20px;
      width: 20px;
    }
  }

  .phone-icon {
    margin-bottom: -2px;
    @include respond-until(tablet) {
      height: 20px;
      width: 20px;
    }
  }

  #imdb {
    svg {
      width: 60px;
      height: auto;
      @include respond-until(tablet) {
        width: 40px;
      }
    }
  }
}
