footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  padding: 20px;

  @include respond-until(tablet) {
    justify-content: center;
    height: 100px;
  }

  a {
    margin-left: 10px;
    margin-bottom: -2px;
  }

  p {
    margin-left: 10px;

    @include respond-until(tablet) {
      font-size: 17px;
    }
  }

  svg {
    height: 30px;
    width: 30px;
    @include respond-until(tablet) {
      height: 20px;
      width: 20px;
    }
  }

  .email-icon {
    margin-bottom: -4px;
    @include respond-until(tablet) {
      height: 20px;
      width: 20px;
    }
  }

  .phone-icon {
    margin-bottom: -2px;
    @include respond-until(tablet) {
      height: 20px;
      width: 20px;
    }
  }

  #imdb {
    svg {
      width: 60px;
      height: auto;
      @include respond-until(tablet) {
        width: 40px;
      }
    }
  }

  .credits-button {
    border: none;
    background-color: unset;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .credits {
    position: absolute;
    right: 50%;
    top: -140px;
    background-color: white;
    padding: 20px;
    box-shadow: 4px 4px 4px grey;

    @include respond-until(desktop) {
      right: unset;
      top: -120px;
    }

    button {
      background-color: unset;
      border: none;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        transform: scale(1.08);
        transition: .3s;
      }

      &:focus {
        outline: none;
      }
      
      svg {
        width: 20px !important;
        height: auto;
        path {
          fill: $ella-red;
        }
      }
    }

    a {
      margin-left: 0;
      margin-top: 10px;
    }

    h4 {
      margin-top: 10px;
    }
  }
}
