// import all other style files
@import "./animation.scss";
@import "./variables/colours.scss";
@import "./variables/screen-sizes.scss";
@import "./media_queries.scss";
@import "./fonts.scss";
@import "./layout.scss";
@import "./about.styles.scss";
@import "./buttons/rectangular-button.styles.scss";
@import "./home.styles.scss";
@import "./buttons/magic-button.styles.scss";
@import "./services.styles.scss";
@import "./work.styles.scss";
@import "./ask.styles.scss";
@import "./information-popup.styles.scss";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/components/navigation/navigation.scss";
@import "../../node_modules/swiper/components/pagination/pagination.scss";

* {
  margin: 0;
  padding: 0
}

body {
  background-image: url("../images/ella-paper.jpg");
  overflow-x: hidden !important;
  main {
    overflow-x: hidden !important;
  }
}

.ella {
  @include respond-to(desktop) {
  position: fixed !important;
  top: 50%;
  width: 20%;
  height: auto;
  margin-left: 20px;
  margin-top: -110px;
  animation: appear .3s ease-in;
  }

  @include respond-until(tablet) {
   display: none;
  }

}